$primary-color:red;
$default-color:#ddd;
$arr:(1, 2, 3, 4, 5); //数组
$colors:( primary:#428bca, defalut:#ddd, warning:#f0ad4e, info:#5bc0de, danger:#d9534f, success:#5cb85c, error:#d9534f, );
$screen-xs:768px;
$screen-sm:992px;
$screen-md:1200px;