@import "../../sass/index.scss";

* {
    margin: 0;
    padding: 0;
    font: normal normal 12px/1 "微软雅黑";
    text-decoration: none;
}

// 和编程一样，

/*
声明变量
逻辑操作
    
流程控制
函数
minxin
面向对象

*/


/*
                color
                background-color
                border-color
            */

// background-color: $value;



/*
html font-size:10px
rem 100px
*/

html {
    font-size: 10px;
}

// xs   sm md lg   


//转换rem单位



.box {
    @include transform(rotate(39deg) translate(30px,30px));
    @include media(xs){
        background: red;
    }
  
    @include media(sm){
        background: green;
    }
    @include media(md){
        background: blue;
    }
    @include media(lg){
        background: pink;
    }
}

@include frames(rotate) {
    from {
        @include transform(translateX(0) rotate(0deg));
    }
    to {
        @include transform(translateX(500px) rotate(360deg));
    }
}

.box {
    width: px2rem(100);
    height: px2rem(100);
    // background: $primary-color; // border: 1px solid #000;
    // padding: {
    //     left: 10px;
    //     right: 20px;
    //     bottom: 30px;
    // }
    margin-top: (100/3)+px;
    .caption {
        h2 {
            font-size: 14px;
        }
    }
    &:hover {
        background: $default-color;
    }
}

// 循环
//插值  `${fdsa}`
@for $i from 1 through 5 {
    .box#{$i} {
        width: $i*100px;
    }
}

// for in
@each $item in $arr {
    .box#{$item} {
        width: $item;
    }
}

@include color(btn, background);
@include color(bg, border);
@include color(text, color);